.ptext1{
margin-top:7%;
}

.ptext2{
margin-top:7%;
}

.ptext3{
margin-top:7%;
}

.ptext4{
margin-top:7%;
}

.ptext5{
margin-top:2%;
}

.img-style1{
  padding-top: 5%;
  width:48%;
}
.img-style2{
  padding-top: 3%;
  width:58%;
}
.img-style3{
  padding-top: 5%;
  width:55%;
}
.img-style4{
  padding-top: 7%;
  width:46%;
}
.img-style5{
  padding-top: 4%;
  width:21%;
}
