.ptext1{
margin-top:7%;

}

.ptext2{
margin-top:7%;

}

.ptext3{
margin-top:7%;

}

.ptext4{
margin-top:7%;

}
.ptext5{
margin-top:7%;

}
.ptext6{
margin-top:7%;

}

.img-style1{
  padding-top: 6%;
  width:47%;

}
.img-style2{
  padding-top: 9%;
  width:44%;

}
.img-style3{
  padding-top: 10%;
  width:43%;

}
.img-style4{
  padding-top: 9%;
  width:44%;

}

.img-style5{
  padding-top: 13%;
  width:40%;

}
.img-style6{
  padding-top: 11%;
  width:42%;

}
